
<%= form_for(user, local: true, html: { multipart: true })  do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container-fluid">
  <div class="row">
      <div class="col">
        <div class="general-info">
          <h6>Informações Gerais:</h6>
          <div class="field">
            <%= form.label :person_name %><br>
            <%= form.text_field :person_name, class: "input" %>
          </div>
          <div>
            <%= form.label :email %><br>
            <%= form.email_field :email%>
          </div>
          <div>
            <%= form.label :born_date %><br>
            <%= form.date_field(:born_date) %>
          </div>
          <div class="field">
            <%= form.label :avatar %><br>
            <%= form.file_field :avatar, accept: 'image/png,image/jpeg' %>
          </div>
        </div>
      </div >

      <div class="col">
        <div class="addres-info">
          <h6>Endereço:</h6>
          <div class="field">
            <%= form.label :postal_code %><br>
            <%= form.number_field :postal_code, id: "cep" %>
          </div>
          <div class="field">
            <%= form.label :street %><br>
            <%= form.text_field :street, id: "rua" %>
          </div>

          <div class="field">
            <%= form.label :city %><br>
            <%= form.text_field :city, id: "cidade" %>
          </div>

          <div class="field">
            <%= form.label :state %><br>
            <%= form.select :state_uf, @states.collect {|state| [state.name, state.initial]} %>
          </div>

        </div>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>

  </div>
</div>
<% end %>


<script>
  $(function() {
    $(document).on('blur', '#cep', function() {
      valor = this.value
        // alert(valor);
      var cep = valor.replace(/\D/g, '');

      if (cep != "") {

        //Expressão regular para validar o CEP.
        var validacep = /^[0-9]{8}$/;
        //Valida o formato do CEP.
        if(validacep.test(cep)) {

          //Preenche os campos com "..." enquanto consulta webservice.
          document.getElementById('rua').value="...";
          document.getElementById('cidade').value="...";

          //Cria um elemento javascript.
          var script = document.createElement('script');

          //Sincroniza com o callback.
          script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

          //Insere script no documento e carrega o conteúdo.
          document.body.appendChild(script);

        } //end if.
        else {
          //cep é inválido.
          limpa_formulário_cep();
          alert("Formato de CEP inválido.");
        }
      } //end if.
      else {
        //cep sem valor, limpa formulário.
        limpa_formulário_cep();
      }

      function limpa_formulário_cep() {
            //Limpa valores do formulário de cep.
            document.getElementById('user_street').value=("");
            document.getElementById('user_city').value=("");
      }


    });
  });

  
  function meu_callback(conteudo) {
        if (!("erro" in conteudo)) {
            //Atualiza os campos com os valores.
            document.getElementById('rua').value=(conteudo.logradouro);
            document.getElementById('cidade').value=(conteudo.localidade);
            document.getElementById('user_state_uf').value=(conteudo.uf);

        } //end if.
        else {
            //CEP não Encontrado.
            limpa_formulário_cep();
            alert("CEP não encontrado.");
        }
    }

</script>