<div id="user-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-dismiss="modal"></button>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <%= @user.avatar.attached? ? image_tag(@user.avatar, class: "user-icon square") : image_tag("person-icon.png", class: "user-icon square") %><br>
            <p class="user-name"><strong><%= @user.person_name %></strong></p>

          <div class="line"></div>

            <p class="user-email"><strong>Email: </strong><%= @user.email %></p>
            <p class="user-age">
              <strong>Nascimento: </strong> <%= (@user.born_date).strftime('%d/%m/%Y') %>
              <strong>Idade: </strong> <%= @user.to_age %>
            </p>

          <div class="line"></div>

          <p><strong>Endereço:</strong>
            Rua <%= @user.street %> - <%= @user.city %> <br>
            <%= @user.state.name %> - CEP: <%= @user.postal_code %>
          </p>


          <div>
            <%= link_to edit_user_path(@user) do %>
              <h6 class="action-text">Editar
              <%= image_tag("pen-icon.png", class:"action-icon")%>
            <% end %>
            <%= link_to @user, method: :delete, data: { confirm: 'Confirma Exclusão?' } do %>
              Apagar<%= image_tag("trash-icon.png",  class:"action-icon")%></h6>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
