<div class="show">
  <div class="container">
    <%= render "users/partials/path_text" %>

    <div class="row">
      <%= render "users/partials/checkbox_filter"%>

      <div class="col-9">

        <%= render "users/partials/count_order" %>

        <div id='user-card-modal'>
          <%= render "users/partials/user_card"  %>
        </div>

        <%= render "users/partials/pagination"%>

        <div id='user-content'></div>
      </div>
    </div>
  </div>
</div>


<script>

  order_form = document.getElementById("order-form");

  window.addEventListener("load", function() {
    Rails.fire(order_form, 'submit');
  });
</script>